body {
    background-image: url("../src/images/Main_Background-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 75vw;
    left: 50%;
    transform: translate(-50%);
}

#main-headline {
    display: flex;
    justify-content: center;
    background-color: black;
}

#main-headline h1 {
    color: white;
    padding: 0;
}

#article {
    background-color: lightsteelblue;
}

#article h2 {
    padding-left: 10px;
}

#article img {
    width: 50%;
    max-width: 100%;
    padding: 5px;
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#article p {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-right: 10px;
}