:root {
    /** Color */
    --bg-artical:       lightsteelblue;
    --bg-main-headline: black;
    
    /** Distance */
    --pd-standard: 1vw;
    
    /** Font */
    --font-article: 'Courier New', Courier, monospace;
}

/** GENERAL ----------------------------------------------------------------------*/
* { box-sizing: border-box; }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/** BODY ---------------------------------------------------------------------- */
body {
    /* Set Background-image to cover the whole page */
    background-image: url("../src/images/Main_Background-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    /* Layout of Page, rendering and center */
    position: absolute;
    width: 75vw;
    left: 50%;
    transform: translate(-50%);
}

/** HEADLINE ----------------------------------------------------------------------*/
#main-headline {
    display: flex;
    justify-content: center;
    max-height: 100px;
}

#main-headline .placeholder {
    width: 100%;
    background: var(--bg-main-headline);
}
/** ARTICLE ----------------------------------------------------------------------*/
.article {
    background-color: var(--bg-artical);
    padding: 0em var(--pd-standard);
    font-family: var(--font-article);
}

.article h2 {
    padding: var(--pd-standard) 0em;
}

.article img {
    width: 50%;
    max-width: 300px;
    padding: var(--pd-standard);
    float: right;
}