:root {
    /** Color*/
    --navbar-color-main:    #333;
    --navbar-color-second:  lightsteelblue;
    --navbar-color-third:   black;
    --navbar-color-fourth:  white;
    --navbar-color-fifth:   lightslategray;
    --navbar-color-sixth:   lightgray;

    /** Distance */
    --navbar-pd-standard: 1vw;

    /** Special Effects */
    --navbar-shadow: 0px 5px 10px 0px;
}

/** GENERAL ----------------------------------------------------------------------*/
* { box-sizing: border-box; }

/** NAVIGATION BAR -----------------------------------------------------------------*/
.sticky-div {
    position: sticky;
    top: 0;
}

.navbar {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--navbar-color-main);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: var(--navbar-color-fourth);
    padding: var(--navbar-pd-standard) var(--navbar-pd-standard);
}

.navbar li a:hover {
    background-color: var(--navbar-color-second);
    color: var(--navbar-color-third); 
}

#navbarAbout {
    float: right;
}

/** DROPDOWN ------------------------------------------------------------*/
.dropdown {
    overflow: hidden;
    float: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;

    /* Position when it appears */
    position: absolute;
    width: 20%;     /*TODO : improvment -> fit-content + some-space */
    top: 100%;      /*!FIXME, wont work in vertical view*/
    background-color: var(--navbar-color-fourth);
    box-shadow: var(--navbar-shadow) var(--navbar-color-fifth);
}

.dropdown-content a {
    color: var(--navbar-color-third);
    display: block;
    text-align: center;
}

.dropdown:hover {
    background-color: var(--navbar-color-second);
}

/* Changes color of main Topic while hovering the content as well */
.dropdown:hover a {
    color: var(--navbar-color-third);
}

.dropdown-content a:hover {
    background-color: var(--navbar-color-sixth);
}

/** MEDIA ----------------------------------------------------------------------*/
 @media screen and (max-width: 500px){
    
    .navbar li, .dropdown , .dropdown-content {
        width: 100%;
        text-align: center;
    }
}